.allCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.queenCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 400px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.queenQuote {
    text-align: left;
}

img {
    position: relative;
    width: 100%;
    z-index: -2;
}

.queenName, .queenQuote {
    visibility: hidden;
}

.queenCard:active {
    background-color: fuchsia;
    opacity: .5;
}

.queenName:active, .queenQuote:active {
    visibility: visible;
    color: blue;
}