.allCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.queenCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.queenQuote {
    text-align: left;
}

img {
    width: 120px;
    height: 220px;
}

img:hover {
    filter: greyscale(1);
}